/*Table*/

.restable {
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: auto;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.restable caption {
  margin: 0.5em 0 0.75em;
}

.restable tr {
  padding: 0.35em;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
}

.restable th,
restable td {
  padding: 0.625em;
  text-align: center;
}

.restable td {
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .restable {
    border: 0;
  }

  .restable caption {
    font-size: 1.3em;
  }

  .restable thead {
    width: 1px;
    padding: 0;
    height: 1px;
    margin: -1px;
    border: none;
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
  }

  .restable tr {
    display: block;
    margin-bottom: 0.625em;
    border-bottom: 3px solid #ddd;
  }

  .restable td {
    display: block;
    text-align: left;
    font-size: 0.8em;
    border-bottom: 1px solid #ddd;
  }

  .restable td::after {
    /*
  * aria-label has no advantage, it won't be read inside a table
  content: attr(aria-label);
  */
    float: right;
    font-weight: bold;
    justify-content: end;
    text-transform: uppercase;
    content: attr(data-label);
  }

  .restable td:last-child::after {
    margin: 0px;
    padding: 0px;
    border-bottom: 0;
  }
}
