@import "./base.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------------------------------------------------------------------- */
/* Fonts area */

@font-face {
  font-family: "Bahij Nazanin";
  src: url("./fonts/BahijNazanin/Bahij-Nazanin.ttf") format("truetype");
}

@font-face {
  font-family: "iransans";
  src: url("./fonts/Iransans/iransans.ttf") format("truetype");
}

@font-face {
  font-family: "IRANYekanWeb";
  src: url("./fonts/IranYekan/IRANYekanWebRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Peyda";
  src: url("./fonts/Peyda/01-Standard/TTF/Peyda-Regular.ttf") format("truetype"),
    url("./fonts/Peyda/woff/PeydaWeb-Regular.woff") format("woff"),
    url("./fonts/Peyda/woff2/PeydaWeb-Regular.woff2") format("truetype");
}

@font-face {
  font-family: "tanha";
  src: url("./fonts/Tanha/Tanha-FD-WOL.woff2") format("woff2"),
    url("./fonts/Tanha/Tanha-FD-WOL.woff") format("woff"),
    url("./fonts/Tanha/Tanha-FD-WOL.ttf") format("truetype");
}

@font-face {
  font-family: "IRANYekanX";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/IRANYekanX/IRANYekanX-Regular.woff") format("woff"),
    url("./fonts/IRANYekanX/IRANYekanX-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "IRANYekanX";
  font-style: normal;
  font-weight: bold;
  src: url("./fonts/IRANYekanX/IRANYekanX-Bold.woff") format("woff"),
    url("./fonts/IRANYekanX/IRANYekanX-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "satisfy";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/Satisfy/Satisfy-Regular.ttf") format("truetype");
}

.ss02 {
  font-feature-settings: "ss02";
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
}

.r2l {
  direction: rtl;
}

.l2r {
  direction: ltr;
}

/* ---------------------------------------------------------------------- */
/* Scroll area */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  cursor: pointer;
  background: #d9d9d9;
}

::-webkit-scrollbar-thumb:horizontal {
  border-radius: 10px;
  background: #4a7337;
}

::-webkit-scrollbar-thumb:vertical {
  border-radius: 10px;
  background: #4a7337;
}

* {
  scroll-behavior: smooth;
}

/* ---------------------------------------------------------------------- */
/* Select area */

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  direction: rtl;
  background: url("../assets/images/ArrowDown.svg") 15px no-repeat;
}

select:focus {
  @apply outline-none;
}

select::-ms-expand {
  display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11
   */
}

.my-select {
  @apply px-4 py-3 cursor-pointer border-gray-200 rounded-ava10 text-sm bg-ava-bg-gray font-yekanX text-ava-gray ss02 w-80;
}

/* ---------------------------------------------------------------------- */
/* Checkbox buttons area */

.checkbox-btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: 0.3s;
  appearance: none;
  border-radius: 2px;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 2px solid #ffffff;
  outline: 2px solid #959ea6;
}

.checkbox-btn:checked {
  border: none;
  content: none;
  appearance: none;
  background-color: #4a7337;
  outline: 2px solid #4a7337;
}

.checkbox-btn:checked::before {
  font-size: 15px;
  color: #ffffff;
  position: absolute;
  font-weight: bolder;
  content: "\00A0\2713\00A0";
}

/* ---------------------------------------------------------------------- */
/* Radio buttons area */

.radio-btn {
  width: 18px;
  height: 18px;
  cursor: pointer;
  appearance: none;
  border-radius: 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 3px solid #ffffff;
  outline: 3px solid #959ea6;
}

.radio-btn:checked {
  padding: 0;
  border: none;
  content: none;
  appearance: none;
  outline: 3px solid #4a7337;
}

.radio-btn:checked::before {
  font-size: 14px;
  color: #4a7337;
  position: absolute;
  font-weight: bolder;
  content: "\00A0\2713\00A0";
}
